body {
  font-family: Arial, sans-serif;
  background-color: #fff3b0; /* အဝါ background */
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ffb703; /* အဝါ header */
  color: #333;
  padding: 40px 0;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
}

footer {
  background-color: #ffb703;
  color: #333;
  padding: 10px 0;
}
